/* ============================== */
/* 
	- Title: Automotive
	- Autor: coralixthemes.com
	- Email: coralixthemes@gmail.com
*/
/* ============================== */








/****************************************************************************
BASIC STYLES
****************************************************************************/






									  
									  




/****************************************************************************
						Slider
****************************************************************************/




.slider .slide .heading-a{ font: 400 26px 'Lato',Arial, Helvetica, sans-serif; line-height:normal !important; color:#FFF; }
.slider .slide .heading-a span { display: inline-block; border-radius:2px; padding:8px 49px 8px 8px; background:#000000; opacity:0.8 !important;text-shadow:0px 1px 0px #000;}
.slider .slide .heading-b { font: 400 26px 'Lato',Arial, Helvetica, sans-serif; line-height:normal !important; color:#FFF; border-radius:2px; background:#000000; padding:8px 29px 8px 8px; width:419px; opacity: 0.8 !important; text-shadow:0px 1px 0px #000;  }
.slider .slide .heading-c span{font: 400 26px 'Lato',Arial, Helvetica, sans-serif; line-height:normal !important; color:#ed2424;background:#000000; padding:0px 8px; opacity:0.8 !important; border-radius:2px; text-shadow:0px 1px 0px #000;}

.slider-wrapper .tp-leftarrow{height:37px;width:37px; display:block; position:absolute;left:0px;background:url(../images/arrow-slide-next.png);background-position: 0px 0px; z-index:999;}
.slider-wrapper .tp-rightarrow{height:37px;width:37px; display:block; position:absolute;left:42px;background:url(../images/arrow-slide-next.png);background-position: 0px -47px;z-index:999;}
.slider-wrapper .tp-leftarrow:hover{background:url(../images/arrow-slide-next.png);background-position: 0px -94px;}
.slider-wrapper .tp-rightarrow:hover{background:url(../images/arrow-slide-next.png);background-position: 0px -142px;}


/****************************************************************************
						Slider-A
****************************************************************************/
.slider-wrapper-a{width:100%;position:relative;background:url(../images/slider-image.png) repeat-x;padding:50px 0px 58px 0px; height:auto;}
.slider-wrapper-a #slider { width:100%; }
.slider-wrapper-a #slider .slide { width:100%; }
.slider-wrapper-a #slider .slide img{width:100%; height:100%; }
.slider-wrapper-a #slider{width:940px; margin:0 auto;height:387px;}
.slider-wrapper-a #per{background:url(../images/left-arrow.png) no-repeat; width:15px; height:26px;display:block;position:absolute; top:232px; left:195px;}
.slider-wrapper-a #per:hover{background:url(../images/left-hover.png) no-repeat; width:15px; height:26px;display:block;}
.slider-wrapper-a #next{background:url(../images/next-arrow.png) no-repeat; width:15px; height:26px;display:block;position:absolute; top:232px; right:195px;}
.slider-wrapper-a #next:hover{background:url(../images/next-hover.png) no-repeat; width:15px; height:26px;display:block;}
#slider .slide{height:200px;width:700px;}
#slider .slide .slide-detail{width:900px;background:#121212;padding:20px; position:absolute; bottom:0px; z-index:9999;}
#slider .slide .slide-detail h2{font: 400 24px 'Lato',Arial, Helvetica, sans-serif;color:#ffffff;margin-bottom:2px; }
#slider .slide .slide-detail p{font: 16px 'Lato',Arial, Helvetica, sans-serif;color:#fff;}
.slider-wrapper-a .slide-opetion{width: 940px; margin-left: -470px; position: absolute; bottom: 30px; left: 50%; text-align: center; }
.slider-wrapper-a .slide-opetion a{background:url(../images/dot.png) no-repeat; height:9px; width:9px; font-size: 0; display:inline-block; margin-right:9px;}
.slider-wrapper-a .slide-opetion a:hover{background:#FFF; border-radius:100%;}


/****************************************************************************
						Slider-B
****************************************************************************/
.slider-wrapper-b{width:100%;position:relative;background:url(../images/slider-image.png) repeat-x;padding:50px 0px 56px 0px; height:auto;}
.slider-wrapper-b #slider { width:100%; }
.slider-wrapper-b #slider .slide { width:100%; }

.slider-wrapper-b #slider{width:940px; margin:0 auto;height:387px;}
.slider-wrapper-b #prev{background:url(../images/arrow-prev.png) no-repeat; width:62px; height:56px;display:block;position:absolute; top:232px; left:0px;}
.slider-wrapper-b #prev:hover{background:url(../images/arrow-prev-hover.png) no-repeat; width:62px; height:56px;display:block;top:232px; left:0px;}
.slider-wrapper-b #forward{background:url(../images/arrow-next.png) no-repeat; width:62px; height:56px;display:block;position:absolute; top:232px; right:0px;}
.slider-wrapper-b #forward:hover{background:url(../images/arrow-next-hover.png) no-repeat; width:62px; height:56px;display:block;}
#slider .slide{height:387px;width:940px;}
#slider .slide .slide-detail{width:900px; background-color:#000000; opacity:0.9; padding:20px; position:absolute; bottom:0px; z-index:9999;}
#slider .slide .slide-detail h2{font: 400 24px 'Lato',Arial, Helvetica, sans-serif;color:#ffffff;margin-bottom:2px; }
#slider .slide .slide-detail p{font: 16px 'Lato',Arial, Helvetica, sans-serif;color:#fff;}
.slider-wrapper-b .slide-opetion{ width: 940px; margin-left: -470px; position: absolute; top: 190px; left: 50%; }
.slider-wrapper-b .slide-opetion a{background:url(../images/dot.png) no-repeat; height:9px; width:9px; font-size:0px; display:inline-block; margin-right:9px;}
.slider-wrapper-b .slide-opetion a:hover{background:#FFF; border-radius:100%;}
/****************************************************************************
						Slider-C
****************************************************************************/
.slider-wrapper-c{width:100%;position:relative;background:url(../images/slider-image.png) repeat-x;padding:50px 0px 56px 0px; height:auto;}
.slider-wrapper-c #slider-c{width:940px; margin:0 auto;height:387px;}
.slider-wrapper-c #slider-c .slide-c .slide-c-detail{width:320px;float:left;margin-right:60px;padding:20px 0px 0px;}
.slider-wrapper-c #slider-c .slide-c .slide-c-detail h1{font: 700 40px 'Lato',Arial, Helvetica, sans-serif;color:#ffffff;margin-bottom:34px; text-shadow:0 1px 1px #000;}
.slider-wrapper-c #slider-c .slide-c .slide-c-detail p{font: 400 14px 'Lato',Arial, Helvetica, sans-serif;color:#dbdbdb;line-height:20px;margin-bottom:43px; text-shadow:0 1px 1px #000;}
.slider-wrapper-c #slider-c .slide-c .slide-c-detail .blue{margin-right:15px;}
.slider-wrapper-c #slider-c .slide-c .slide-c-detail .btn{padding-top:12px ; padding-bottom:12px;}
.slider-wrapper-c #slider-c .slide-c .video{width:560px;float:right; height:314px;}
.slider-wrapper-c #slider-c .slide-c .video iframe#vid { width:560px; height:314px; }
.slider-wrapper-c #prev{background:url(../images/arrow-prev.png) 0 -67px no-repeat; width:58px; height:62px;display:block;position:absolute; top:200px; left:0px;}
.slider-wrapper-c #prev:hover{background:url(../images/arrow-prev.png) 0 0 no-repeat;}
.slider-wrapper-c #forward{background:url(../images/arrow-next.png) 0 -67px no-repeat; width:58px; height:62px;display:block;position:absolute; top:200px; right:0px;}
.slider-wrapper-c #forward:hover{background:url(../images/arrow-next.png) 0 0 no-repeat; }


