<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>EstradaReal3</display-name>
  <servlet>
    <description>
		</description>
    <display-name>ServImagem</display-name>
    <servlet-name>ServImagem</servlet-name>
    <servlet-class>Controle.ServImagem</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ServPessoa</display-name>
    <servlet-name>ServPessoa</servlet-name>
    <servlet-class>Controle.ServPessoa</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ServEmpresa</display-name>
    <servlet-name>ServEmpresa</servlet-name>
    <servlet-class>Controle.ServEmpresa</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>Modelo.FileUpload</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ServImg</display-name>
    <servlet-name>ServImg</servlet-name>
    <servlet-class>Controle.ServImg</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ServContato</display-name>
    <servlet-name>ServContato</servlet-name>
    <servlet-class>Controle.ServContato</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>JSONItem</display-name>
    <servlet-name>JSONItem</servlet-name>
    <servlet-class>Controle.JSONItem</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>ServAnuncio</display-name>
    <servlet-name>ServAnuncio</servlet-name>
    <servlet-class>Controle.ServAnuncio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServImagem</servlet-name>
    <url-pattern>/ServImagem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServPessoa</servlet-name>
    <url-pattern>/ServPessoa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServEmpresa</servlet-name>
    <url-pattern>/ServEmpresa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServImg</servlet-name>
    <url-pattern>/ServImg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServContato</servlet-name>
    <url-pattern>/ServContato</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JSONItem</servlet-name>
    <url-pattern>/JSONItem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServAnuncio</servlet-name>
    <url-pattern>/ServAnuncio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.faces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/index.jsp?page=erro_404.jsp</location>
  </error-page>
  <error-page>
    <exception-type></exception-type>
    <location>/index.jsp?page=erro.jsp</location>
  </error-page>
  <context-param>
    <param-name>primefaces.THEME</param-name>
    <param-value>ui-lightness</param-value>
  </context-param>
  <filter>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <filter-class>
        org.primefaces.webapp.filter.FileUploadFilter
    </filter-class>
    <init-param>
      <param-name>thresholdSize</param-name>
      <param-value>51200</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>PrimeFaces FileUpload Filter</filter-name>
    <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Anunciar</display-name>
    <servlet-name>Anunciar</servlet-name>
    <servlet-class>Controle.Anunciar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Anunciar</servlet-name>
    <url-pattern>/Anunciar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SalvLogo</display-name>
    <servlet-name>SalvLogo</servlet-name>
    <servlet-class>Controle.SalvLogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SalvLogo</servlet-name>
    <url-pattern>/SalvLogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeEmail</display-name>
    <servlet-name>ChangeEmail</servlet-name>
    <servlet-class>Bean.ChangeEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeEmail</servlet-name>
    <url-pattern>/ChangeEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServPergunta</display-name>
    <servlet-name>ServPergunta</servlet-name>
    <servlet-class>Controle.ServPergunta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServPergunta</servlet-name>
    <url-pattern>/ServPergunta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnviaPergunta</display-name>
    <servlet-name>EnviaPergunta</servlet-name>
    <servlet-class>Controle.EnviaPergunta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnviaPergunta</servlet-name>
    <url-pattern>/EnviaPergunta</url-pattern>
  </servlet-mapping>
</web-app>